<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Checkout</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h2>Checkout</h2>
  <form th:action="@{/cart/checkout}" method="post">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="paymentMethod" id="cash" value="cash" checked>
      <label class="form-check-label" for="cash">
        Cash
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="paymentMethod" id="paypal" value="paypal">
      <label class="form-check-label" for="paypal">
        PayPal
      </label>
    </div>
    <div class="total-container">
      <h4>Total Price: <span th:text="${totalPrice}"></span></h4>
      <button class="btn btn-primary" type="button">Proceed to payment</button>
    </div>


  </form>
</div>
</body>
</html>
