<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <style>
    body {
      padding-top: 0;
      margin: 0;
    }

    .navbar {
      background-color: black;
      height: 6vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .navbar-brand {
      color: white;
    }

    .navbar-cart {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px;
      color: white;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-expand-lg">
  <a th:href="@{/cart/getUser}" class="navbar-cart">Cart<i class="bi bi-cart-fill">a</i></a>

  <a class="navbar-brand" href="#">Welcome to Lego Store Algebra</a>
</nav>

<div class="container text-center">

  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${legoPieces.empty}">
      <td colspan="4">No Lego pieces available</td>
    </tr>
    <tr th:each="legoPiece : ${legoPieces}">
      <td><span th:text="${legoPiece.name}">Name</span></td>
      <td><span th:text="${legoPiece.category}">Category</span></td>
      <td><span th:text="${legoPiece.price}">Price</span></td>

      <td>
        <form method="post" th:action="@{/lego/addToCart}">
          <input type="hidden" name="legoId" th:value="${legoPiece.id}" />
          <button class="btn btn-primary" type="submit">Add to cart</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
